{% doc %}
  Renders a mega menu.

  @param {link} link - Navigation link from a link_list menu.

  @example
  {% render 'navbar-mega', link: link, image: image %}
{% enddoc %}

<div
  class="b-navbar-item b-is-mega b-has-dropdown"
  x-data="{ menu_hovered_active: false }"
  :class="menu_hovered_active ? 'b-is-active' : ''"
  @mouseenter="if (!$store.screen.small) menu_hovered_active = true"
  @mouseleave="if (!$store.screen.small) menu_hovered_active = false"
>
  <div
    class="b-navbar-link b-flex"
    @click="if ($store.screen.small) menu_hovered_active = !menu_hovered_active"
  >
    <h2 class="b-title b-is-size-3 b-is-size-6-desktop b-has-text-white">
      <a class="b-has-text-white" href="{{ link.url }}">{{- link.title -}}</a>
    </h2>
  </div>
  <div class="b-navbar-dropdown">
    <div class="b-container b-is-fluid l-mega-menu-container ">
      <div class="b-columns">
        {% for child_link in link.links %}
          <div
            class="b-column l-child-column"
            x-data="{ submenu_active:true }"
            x-init="$nextTick(() => { submenu_active = !$store.screen.small })"
          >
            <div
              class="b-navbar-item l-child-b-navbar-item"
              @click="if ($store.screen.small) submenu_active = !submenu_active"
            >
              <template x-if="!$store.screen.small">
                <h2 class="b-title b-is-mega-menu-title b-is-size-4 b-is-size-6-desktop l-child-link-title">
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                </h2>
              </template>
              <template x-if="$store.screen.small">
                <p class="b-title b-is-mega-menu-title b-is-size-4 l-child-link-title b-has-text-white">
                  {{ child_link.title }}
                </p>
              </template>
            </div>
            <div class="l-sub-menu-mega" x-show="submenu_active" x-collapse>
              {% for grandchild_link in child_link.links %}
                <div
                  class="b-navbar-item"
                  x-data="{ selected: false }"
                  :class="selected ? 'b-is-selected' : ''"
                  @mouseover="selected=true"
                  @mouseout="selected=false"
                >
                  {% if grandchild_link.type == 'collection_link' and grandchild_link.object %}
                    {% assign collection = grandchild_link.object %}
                    <article class="b-media">
                      {% if collection.image %}
                        <div class="b-media-left">
                          <figure class="b-image l-image-mega-menu-figure">
                            <img
                              src="{{ collection.image | image_url: width: 120 }}"
                              width="120"
                              height="120"
                              alt="image-{{ collection.title }}"
                            >
                          </figure>
                        </div>
                      {% else %}

                      {% endif %}
                      <div class="b-media-content">
                        <div class="b-content">
                          <a href="{{ grandchild_link.url }}">
                            <p class="b-title b-is-size-5 b-has-text-white">
                              {{ grandchild_link.title }}
                            </p>
                          </a>
                        </div>
                      </div>
                    </article>

                  {% else %}
                    <p class="b-title b-is-size-5 b-has-text-white">
                      {{ grandchild_link.title }}
                    </p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .b-navbar-item.b-is-mega.b-has-dropdown {
    position: static;
  }

  .b-navbar-item.b-is-mega .b-navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 20;
    display: none;
    background-color: hsl(0, 0%, 4%);
  }

  .b-navbar-item.b-is-mega.b-is-active .b-navbar-dropdown {
    display: block;
  }

  .l-mega-menu-container {
    width: 100vw !important;
  }

  .l-image-mega-menu-figure {
    width: 4rem;
    height: 4rem;
    background-color: var(--b-white);
  }

  .l-image-mega-menu-figure img {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    max-width: 4rem;
    object-fit: contain;
  }

  @media screen and (max-width: 1023px) {
    .b-navbar-item.b-is-mega .b-navbar-dropdown {
      position: static;
      width: 100%;
      box-shadow: none;
    }

    .l-mega-menu-container {
      max-width: 100%;
      padding-inline: 0;
    }

    .l-mega-menu-container .b-columns {
      flex-direction: column;
    }

    .l-child-link-title {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .l-child-b-navbar-item {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .l-child-column {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
{% endstylesheet %}
