{% doc %}
  Renders a mega menu.

  @param {link} link - Navigation link from a link_list menu.

  @example
  {% render 'navbar-mega', link: link, image: image %}
{% enddoc %}

<div
  class="b-navbar-item b-is-mega b-has-dropdown"
  x-data="{ menu_hovered_active: false }"
  :class="menu_hovered_active ? 'b-is-active' : ''"
  @mouseenter="if (!$store.screenSize.small) menu_hovered_active = true"
  @mouseleave="if (!$store.screenSize.small) menu_hovered_active = false"
>
  <div
    class="b-navbar-link b-flex"
    @click="if ($store.screenSize.small) menu_hovered_active = !menu_hovered_active"
  >
    <p class="b-title b-is-size-3 b-is-size-6-desktop b-has-text-white">
      <a class="b-has-text-white" href="{{ link.url }}">{{- link.title -}}</a>
    </p>
  </div>
  <div
    class="b-navbar-dropdown l-mega-menu-container"
    :class="!$store.screenSize.small ? 'l-overlay-background-color' : ''"
  >
    <div class="b-container b-is-fullhd">
      <div class="b-columns b-is-0-desktop">
        {% assign child_link_total = link.links | size %}
        {% assign child_link_column_width = 100 | divided_by: child_link_total %}
        {% for child_link in link.links %}
          <div
            class="b-column l-child-column"
            x-data="{ submenu_active:true }"
            x-init="$nextTick(() => { submenu_active = !$store.screenSize.small })"
            :style="!$store.screenSize.small ? 'width: {{ child_link_column_width }}%' : ''"
          >
            <div
              class="b-navbar-item l-child-b-navbar-item"
              @click="if ($store.screenSize.small) submenu_active = !submenu_active"
            >
              <template x-if="!$store.screenSize.small">
                <a href="{{ child_link.url }}">
                  <p class="b-title b-is-mega-menu-title b-is-size-3 l-child-link-title b-has-text-primary-light b-my-4">
                    {{ child_link.title }}
                  </p>
                </a>
              </template>

              <p
                class="b-title b-is-mega-menu-title b-is-size-4 l-child-link-title b-has-text-primary-light"
                x-show="$store.screenSize.small"
              >
                {{ child_link.title }}
              </p>
            </div>
            <div class="l-sub-menu-mega" x-show="submenu_active" x-collapse>
              {% for grandchild_link in child_link.links %}
                <div
                  class="b-navbar-item l-mega-menu-grandchild-link"
                  x-data="{ selected: false }"
                  :class="selected ? 'b-is-selected' : ''"
                  @mouseover="selected=true"
                  @mouseout="selected=false"
                >
                  {% if grandchild_link.type == 'collection_link' and grandchild_link.object %}
                    {% assign collection = grandchild_link.object %}
                    <a href="{{ grandchild_link.url }}">
                      <div class="b-media b-my-auto l-mega-menu-grandchild-link  b-ml-0-desktop">
                        {% if collection.image %}
                          <template
                            x-data="{ showImage: false }"
                            x-init="$nextTick(() => { showImage = true })"
                            x-if="showImage"
                          >
                            <div class="b-media-left">
                              <figure class="b-image l-image-mega-menu-figure b-is-clipped">
                                <img
                                  x-data="{ imageLoaded: false }"
                                  src="{{ collection.image | image_url: width: 120 }}"
                                  width="120"
                                  height="120"
                                  alt="image-{{ collection.title }}"
                                  @load="imageLoaded = true"
                                  :class="!imageLoaded ? 'b-is-skeleton' : ''"
                                >
                              </figure>
                            </div>
                          </template>
                        {% endif %}
                        <div class="b-media-content">
                          <div class="b-content">
                            <p class="b-is-size-5 b-is-size-6-desktop b-has-text-link-light l-mega-menu-grandchild-link-title">
                              {{ grandchild_link.title }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>

                  {% else %}
                    <p class="b-title b-is-size-5 b-has-text-white">
                      {{ grandchild_link.title }}
                    </p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .l-sub-menu-mega .b-navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
  .l-mega-menu-grandchild-link-title {
    text-wrap-mode: wrap;
  }

  .b-navbar-item.b-is-mega.b-has-dropdown {
    position: static;
  }

  .b-navbar-item.b-is-mega .b-navbar-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 20;
    display: none;
  }

  .b-navbar-item.b-is-mega.b-is-active .b-navbar-dropdown {
    display: block;
  }

  .l-mega-menu-container {
    width: 100vw !important;
  }

  .l-image-mega-menu-figure {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--b-grey-light);
    border-radius: 0.5rem;
  }

  .l-image-mega-menu-figure img {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    max-width: 4rem;
    object-fit: contain;
  }

  @media screen and (max-width: 1151px) {
    .l-mega-menu-grandchild-link {
      margin-left: 2rem;
    }
    .b-navbar-item.b-is-mega .b-navbar-dropdown {
      position: static;
      width: 100%;
      box-shadow: none;
    }

    .l-mega-menu-container {
      max-width: 100%;
      padding-inline: 0;
    }

    .l-mega-menu-container .b-columns {
      flex-direction: column;
    }

    .l-child-link-title {
      margin-top: 0.15rem;
      margin-bottom: 0.15rem;
    }
    .l-child-b-navbar-item {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    .l-child-column {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
{% endstylesheet %}
