{% doc %}
  Renders a responsive image that might be wrapped in a link.

  When `width`, `height` and `crop` are provided, the image will be rendered
  with a fixed aspect ratio.

  Serves as an example of how to use the `image_url` filter and `image_tag` filter
  as well as how you can use LiquidDoc to document your code.

  @param {image} image - The image to be rendered
  @param {string} [url] - An optional destination URL for the image
  @param {string} [class] - Optional class to be added to the image wrapper
  @param {number} [width] - The highest resolution width of the image to be rendered
  @param {number} [height] - The highest resolution height of the image to be rendered
  @param {string} [crop] - The crop position of the image

  @example
  {% render 'image', image: product.featured_image %}
  {% render 'image', image: product.featured_image, url: product.url %}
  {% render 'image',
    class: 'product__image',
    image: product.featured_image,
    url: product.url,
    width: 1200,
    ratio: 16/9,
    height: 800,
    crop: 'center',
  %}
{% enddoc %}

{% liquid
  assign image_full_url = image | image_url: width: width, height: height, pad_color: 'ffffff'
  unless height
    assign width = width | default: image.width
  endunless
  assign srcset_deltas = '-500|-400|-300|-200|-100|-50|0|50|100|200|300|400|500' | split: '|'
%}
{% capture image_srcset %}
  {%- for delta in srcset_deltas -%}
    {%- liquid
      assign delta_num = delta | plus: 0
      assign src_w = width | plus: delta_num | at_least: 50
      if height
        assign src_h = height | times: src_w | divided_by: width
        assign src_url = image | image_url: width: src_w, height: src_h, crop: crop, pad_color: 'ffffff'
      else
        assign src_url = image | image_url: width: src_w
      endif
    -%}
    {{- src_url }} {{ src_w -}}w{%- unless forloop.last -%}, {% endunless -%}
  {%- endfor -%}
{% endcapture %}
{% if url %}
  <a href="{{ url }}">
{% endif %}

<figure
  class="b-image {{ class }}"
>
  <img
    src="{{ image_full_url }}"
    width="{{ width }}"
    height="{{ image.height }}"
    loading="lazy"
    alt="{{ image.alt | default: image.title | append: ' - ' | append: image.vendor | escape | default: shop.name | escape }}"
    srcset="{{ image_srcset | strip }}"
    sizes="(min-width: 1216px) 25vw, (min-width: 768px) 33vw, 50vw"
    style="object-fit: contain;"
  >
</figure>

{% if url %}
  </a>
{% endif %}
