{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<!-- Hero -->
{% assign header_content = collection.metafields['app--6007307--sanity-fields'].header.value %}
{% if header_content %}
  <section class="b-section">
    <div class="b-container b-is-fullhd">
      {% render '_collection-hero-collapsable-content',
        header_content: header_content,
        hero_image: section.settings.hero_image
      %}
    </div>
  </section>
{% endif %}

<!-- hasta aqui llegue -->
<!-- Collection Products Grid -->
<section class="b-section">
  <div id="product-grid-container" class="b-container b-is-fullhd">
    {%- paginate collection.products by 20 -%}
      <div class="facets facets-vertical-sort c-small-screen-hide screen-hide">
        <form
          class="facets-vertical-form"
          id="FacetSortForm"
          action="{{ collection.url }}"
          x-target="product-grid-container"
          x-on:input.debounce.800ms="if($el.isConnected) $el.requestSubmit()"
        ></form>
      </div>

      <aside
        aria-labelledby="verticalTitle"
        class="facets-wrapper"
        id="main-collection-filters"
        data-id="{{ section.id }}"
      >
        {% render 'facets', results: collection, paginate: paginate %}
      </aside>

      <section class="b-section">
        <div class="b-container" id="ProductGridContainer">
          {%- if collection.products.size == 0 -%}
            <div class="b-container b-has-text-centered" id="product-grid" data-id="{{ section.id }}">
              <div class="loading-overlay gradient" style="display: none;"></div>
              <div class="b-block">
                <h2 class="b-title b-is-2">
                  {{ 'sections.collection_template.empty' | t -}}
                  <br>
                  {{
                    'sections.collection_template.use_fewer_filters_html'
                    | t: link: collection.url, class: 'underlined-link link'
                  }}
                </h2>
              </div>
            </div>
          {%- else -%}
            <!-- PRODUCT GRID -->

            <div
              id="product-grid"
              data-id="{{ section.id }}"
              class="b-columns b-is-multiline c-columns b-is-0-mobile"
            >
              <!-- FORLOOP -->
              <!-- Web Component: Cargar la colección -->
              {%- for product in collection.products -%}
                {% if product.available %}
                  {% liquid
                    assign target = product.selected_or_first_available_variant
                    assign compare_at_price = target.compare_at_price
                    assign price = target.price | default: 1999
                    assign money_price = price | money_with_currency
                    assign pad_color = 'ffffff'
                    assign free_shipping = false
                    if product.price >= 7500
                      assign free_shipping = true
                    endif
                  %}

                  <div class="b-column b-card-column b-is-half-tablet b-is-one-quarter-desktop b-is-one-fifth-widescreen">
                    <!-- CARD -->
                    <div class="b-box b-p-2 b-align-items-stretch-tablet">
                      <div class="b-columns b-is-mobile b-row-to-col-tablet">
                        <div class="b-column b-is-half-mobile b-is-full-tablet b-card-image-wrapper">
                          <a href="{{ product.url }}">
                            <figure
                              class="b-image{% if free_shipping %} b-has-image-overlay{% endif %}"
                            >
                              {{
                                product.featured_media
                                | image_url: width: 600, height: 600, pad_color: pad_color
                                | image_tag:
                                  widths: '100,125,150,200,250,300,350,400,450,500,550,600',
                                  loading: 'lazy',
                                  style: 'object-fit: contain;',
                                  class: 'b-has-rounded-corners'
                              }}

                              {% if free_shipping %}
                                <span class="b-tag-top-left b-badge-primary b-badge-custom">
                                  <span class="b-icon-text b-is-size-7">
                                    <i class="b-icon">
                                      <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        transform="scale(-1,1)"
                                        height="1em"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      >
                                        <path d="M14 18V6a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h2"/>
                                          <path d="M15 18H9"/>
                                            <path d="M19 18h2a1 1 0 0 0 1-1v-3.65a1 1 0 0 0-.22-.624l-3.48-4.35A1 1 0 0 0 17.52 8H14"/>
                                              <circle cx="17" cy="18" r="2"/>
                                                <circle cx="7" cy="18" r="2"/>
                                      </svg></i
                                    >Free
                                  </span>
                                </span>
                              {%- endif %}
                            </figure>
                          </a>
                        </div>
                        <!-- MOBILE -->
                        <div class="b-column b-is-half-mobile b-card-content-wrapper">
                          <div class="b-block" style="margin-bottom: 0;">
                            <p class="b-is-size-7-mobile b-is-size-6-tablet b-mb-2 b-has-text-black b-is-capitalized">
                              <a href="{{ product.url }}" class="full-unstyled-link">
                                <strong>{{ product.title | escape }}</strong>
                              </a>
                            </p>
                            <p class="b-is-uppercase b-is-size-7-mobile b-is-size-6-tablet b-mb-2 b-has-text-gray-dark">
                              <a href="{{ product.url }}" class="full-unstyled-link">
                                <strong>{{ product.vendor | escape }}</strong>
                              </a>
                            </p>
                            <p class="b-is-size-7 b-is-capitalized">
                              {{ product.type | default: '' }}
                            </p>
                          </div>

                          <div class="b-block">
                            <span class="b-is-sr-only">
                              {{- 'products.product.price.regular_price' | t -}}
                            </span>

                            {% if compare_at_price > price %}
                              {%- unless product.price_varies == false and product.compare_at_price_varies %}
                                <p class="b-has-text-weight-normal b-is-size-6 b-subtitle b-has-text-gray-dark">
                                  <s>{{ compare_at_price | money -}}</s>
                                  {% assign saved_amount = compare_at_price | minus: price %}
                                  {% assign saved_percentage = saved_amount
                                    | times: 100
                                    | divided_by: compare_at_price
                                    | round
                                  %}
                                  {% if saved_amount > 0 %}
                                    <span class="b-tag b-is-danger b-has-text-white b-is-size-7">
                                      {{- saved_percentage }}% OFF</span
                                    >
                                  {% endif %}
                                </p>
                              {%- endunless -%}
                            {% endif %}

                            <p class="b-has-text-weight-bold b-is-size-5 b-title">
                              {{ money_price }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END CARD -->
                  </div>
                {% endif %}
              {%- endfor -%}
              <!-- END FORLOOP -->
            </div>

            <!-- END PRODUCT GRID -->

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          {%- endif -%}
        </div>
      </section>
    {%- endpaginate -%}
  </div>
</section>
<!-- END Collection Products Grid -->

<!-- Brand Editorial -->

{% assign brand_editorial_content = collection.metafields['app--6007307--sanity-fields'].brandEditorial.value %}
{% if brand_editorial_content %}
  {% liquid
    capture localized_brand_title
      render '_sanity-value', items: brand_editorial_content.title, key_prefix: 'bet', locale: sanity_locale
    endcapture
    assign localized_brand_title = localized_brand_title | strip
    assign brand_logo = section.settings.logo | default: settings.logo
  %}
  <section class="b-section">
    <div class="b-columns b-is-vcentered">
      {% if brand_logo %}
        <div class="b-column b-is-3">
          <figure class="b-image">
            {{
              brand_logo
              | image_url: width: 300
              | image_tag: widths: '50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600', loading: 'lazy'
            }}
          </figure>
        </div>
      {% endif %}
      <div class="b-column {% if brand_logo %}b-is-8{% else %}b-is-12{% endif %}">
        <div class="logo-motto-text-{{ section.id }}">
          {% if localized_brand_title != blank %}
            <h2 class="b-title b-is-6-mobile b-is-1-desktop b-is-capitalized b-has-text-primary">
              {{ localized_brand_title }}
            </h2>
          {% endif %}
          <div class="brand-editorial-body-{{ section.id }} b-content">
            {% render '_sanity-portable-text',
              items: brand_editorial_content.body,
              key_prefix: 'be',
              locale: sanity_locale
            %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

<!-- After Page Content -->
{% assign after_page_content = collection.metafields['app--6007307--sanity-fields'].afterPageContent.value.body %}

{% if after_page_content != blank %}
  <section class="b-section">
    <div class="b-container b-is-fullhd">
      <div class="b-content">
        {% render '_sanity-portable-text', items: after_page_content, key_prefix: 'body', locale: sanity_locale %}
      </div>
    </div>
  </section>
{% endif %}

<!-- SEO FAQs -->

{% assign seo_faqs = collection.metafields['app--6007307--sanity-fields'].faqs.value %}
{% if seo_faqs != blank %}
  <section class="b-section">
    <div class="b-container b-is-fullhd">
      {% render '_collection-seo-faqs', faqs: seo_faqs, locale: sanity_locale %}
    </div>
  </section>
{% endif %}

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% style %}
  @media (min-width: 769px) {
    .logo-motto-text-{{ section.id }} {
      margin-left: 2rem;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": [
    {
      "type": "header",
      "content": "Collection Content"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },

    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Related Products"
    }
  ]
}
{% endschema %}
