{% assign logo_alt = shop.name | append: '_logo' %} 
<header>
  
  <nav class="b-navbar b-navbar-custom b-is-expanded b-is-spaced b-has-shadow b-is-fixed-top b-is-black" x-data="{ menuOpen: false }">
    <div class="b-navbar-brand">
      <div class="b-navbar-item">
        <a href="{{ routes.root_url }}">
          <figure>
          {{ settings.logo | image_url: width: 500  | img_tag: logo_alt, 'b-image b-navbar-image-logo', '500'  }}
          </figure>
        </a>
      </div>
      
      <div
        class="b-navbar-burger"
        :class="menuOpen ? 'b-is-active' : ''"
        @click="menuOpen = !menuOpen"
        role="button"
        aria-label="menu"
        :aria-expanded="menuOpen"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div id="navbar-menu" class="b-navbar-menu" :class="menuOpen ? 'b-is-active' : ''">
      <div class="b-navbar-start">

        {%- for link in section.settings.menu.links -%}
        {% liquid 
              assign child_links = link.links 
              if link.links.size > 0
                assign has_child_links = true
              else 
                assign has_child_links = false
              endif
        %}
            <div class="b-navbar-item" 
              {% if has_child_links %}
              x-data="{menu_active:false}"  
                :class="menu_active ? 'b-has-dropdown b-is-active' : 'b-has-dropdown'" 
                @mouseover="menu_active=true" 
                @mouseout="menu_active=false" 
              {% endif %}
              >
              <a class="b-navbar-item" href="{{ link.url }}">{{- link.title -}}</a>
              {% if has_child_links %}
                <div class="b-navbar-dropdown b-is-link">
                  {% for child_link in child_links %}

                  <div class="b-navbar-item" x-data="{selected: false}" :class="selected ? 'b-is-selected' : ''" @mouseover="selected=true" @mouseout="selected=false" >
                  <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </div>
                  {% endfor %}
                </div>
              {% else %}
                <div class="b-navbar b-is-link">
                </div>
                {% endif %}
            </div>
        {% endfor %}



      </div>
      
      <div class="b-navbar-end">
        
        <div class="b-navbar-item">
          <span class="b-icon-text">
          {% if shop.customer_accounts_enabled %}
            <shopify-account menu="{{ section.settings.customer_account_menu }}">
            <div slot="signed-out-avatar">
              <span class="b-icon b-has-text-white" >
                <i alt="{{ 'general.accessibility.account' | t }}">  
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                    <circle cx="12" cy="7" r="4"/>
                </svg>
              </i>
              </span>
              </div>
            </shopify-account>
            </span>
          </div>
        {% endif %}
        <div class="b-navbar-item">
          <a href="{{ routes.cart_url }}">
          <span class="b-icon-text">
            {% if cart.item_count > 0 %}
              <sup>{{ cart.item_count }}</sup>
            {% endif %}
            
            <span class="b-icon b-has-text-white">
              <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg></i>
            </span>
          </span>
        </a>
        </div>
      </div>
    </div>
  </nav>
  
</header>

{% style %}
  
  .b-navbar-image-logo {
    max-width: 100%;
    max-height: 100% !important;
    object-fit: contain;
    height: 3rem !important;

  }
  .b-navbar-custom {
    background-image: linear-gradient( 115deg, rgba(35, 31, 32, 1) 0%, rgba(83, 50, 120, 1) 50%, rgba(244, 67, 108, 1) 100% ) !important;
  }

{% endstyle %}


{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:labels.customer_account_menu",
      "default": "customer-account-main-menu"
    }
  ]
}
{% endschema %}
